/* GLOBAL SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 17px;
    border-bottom: .3px solid #FFF2E7;
}

.header .image-header{
    height: 72px;
}

.header .menu-header{
    display: flex;
    gap: 32px;
}

.menu-header .menu-header-item{
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

/* CONTENT */
.content{
    margin-bottom: 48px;
}

.content .main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content .main-content-written{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content-written .main-content-written-title{
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
}

.main-content-written .main-content-written-subtitle{
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.main-content-written .main-content-written-button{
    color: #2F2325;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #00000040;
    background-color: #ECD6C4;
}

.main-content-written .main-content-written-button:hover{
    background-color: #d4c0b0;
}

.main-content .main-content-image{
    height: 430px;
}

.content .secondary-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content .secondary-content-title{
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    padding-top: 48px;
    border-top: .3px solid #FFF2E7;
}

.secondary-content .secondary-content-paragraph{
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/* FOOTER */
.footer{
    padding: 32px;
    border-top: .3px solid #FFF2E7;
}

.footer .image-footer{
    display: block;
    height: 48px;
    margin: 0 auto;
}